<div id="<%= dom_id income %>">
  <p>
    <strong>Source name:</strong>
    <%= income.source_name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= income.value %>
  </p>

  <p>
    <strong>Extra:</strong>
    <%= income.extra %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= income.date %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= income.currency_id %>
  </p>

</div>
