<div id="<%= dom_id expense %>">
  <p>
    <strong>Expense name:</strong>
    <%= expense.expense_name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= expense.value %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

  <p>
    <strong>Extra:</strong>
    <%= expense.extra %>
  </p>

  <p>
    <strong>Lender:</strong>
    <%= expense.lender_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= expense.category_id %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= expense.currency_id %>
  </p>

</div>
