
<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :number_acount %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <button type="button" data-action="nested-form#remove">Remove lender</button>
  <%= f.hidden_field :_destroy %>
</div>